Cell 1 – Import & đọc dữ liệu

In [7]:
import pandas as pd

candidate = pd.read_csv("../data_clean/cleaned_candidate_profile.csv")
interview = pd.read_csv("../data_clean/cleaned_interview_score.csv")
salary = pd.read_csv("../data_clean/cleaned_salary_offer.csv")

Cell 2 – Kiểm tra dữ liệu

In [2]:
candidate.head()
interview.head()
salary.head()

  candidate_id  offer_salary          position
0        UV100    15000000.0      Data Analyst
1        uv101           NaN      Data Analyst
2        UV102    25000000.0      Data Analyst
3        uv103    15000000.0  Python Developer
4        UV104    15000000.0     Data  Analyst

Cell 3 – Merge candidate + interview

In [3]:
df = candidate.merge(
    interview,
    on="candidate_id",
    how="left"
)

df.head()

  candidate_id      full_name  experience_years  round  score
0        UV100  Hoang   Van E               3.0    1.0    9.0
1        UV101      Le Van  C               0.0    NaN    NaN
2        UV102      Le Van  C               0.0    2.0    5.0
3        UV103    Tran  Thi B               0.0    NaN    NaN
4        UV104    Pham  Thi D               0.0    1.0    5.0

Cell 4 – Merge thêm salary

In [4]:
df = df.merge(
    salary,
    on="candidate_id",
    how="left"
)

df.head()

,candidate_id,full_name,experience_years,round,score,offer_salary,position
0,UV100,Hoang Van E,3.0,1.0,9.0,15000000.0,Data Analyst
1,UV101,Le Van C,0.0,NaN,NaN,NaN,NaN
2,UV102,Le Van C,0.0,2.0,5.0,25000000.0,Data Analyst
3,UV103,Tran Thi B,0.0,NaN,NaN,NaN,NaN
4,UV104,Pham Thi D,0.0,1.0,5.0,15000000.0,Data Analyst

Cell 5 – Phát hiện mismatch

In [5]:
mismatch = df[df.isna().any(axis=1)]
mismatch

,candidate_id,full_name,experience_years,round,score,offer_salary,position
1,UV101,Le Van C,0.0,NaN,NaN,NaN,NaN
3,UV103,Tran Thi B,0.0,NaN,NaN,NaN,NaN
7,UV105,Tran Thi B,4.0,NaN,NaN,NaN,NaN
18,UV111,Tran Thi B,5.0,NaN,NaN,NaN,NaN
19,UV112,Nguyen Van A,1.0,NaN,NaN,NaN,NaN
20,UV113,Hoang Van E,0.0,1.0,9.0,NaN,Dev
21,UV113,Hoang Van E,0.0,2.0,7.0,NaN,Dev
22,UV113,Hoang Van E,0.0,3.0,7.0,NaN,Dev
23,UV114,Nguyen Van A,5.0,2.0,5.0,NaN,Data Analyst
24,UV114,Nguyen Van A,5.0,3.0,9.0,NaN,Data Analyst
25,UV115,Le Van C,1.0,NaN,NaN,NaN,NaN
26,UV116,Pham Thi D,0.0,NaN,NaN,NaN,NaN
27,UV117,Le Van C,3.0,NaN,NaN,15000000.0,Python Dev
28,UV118,Tran Thi B,2.0,NaN,NaN,NaN,NaN
29,UV119,Pham Thi D,5.0,NaN,NaN,NaN,NaN
30,UV120,Pham Thi D,0.0,NaN,NaN,NaN,NaN
31,UV121,Tran Thi B,0.0,NaN,NaN,NaN,NaN
32,UV122,Hoang Van E,5.0,NaN,NaN,NaN,NaN
33,UV123,Tran Thi B,0.0,NaN,NaN,NaN,NaN
34,UV124,Tran Thi B,4.0,NaN,NaN,NaN,NaN

Cell 6 – Xuất file hoàn chỉnh

In [6]:
df.to_csv("../data_clean/full_hr_data.csv", index=False)

### Nhận xét
- Một số ứng viên chưa có điểm phỏng vấn do chưa tham gia đủ vòng.
- Một số ứng viên chưa có đề nghị lương.